body {
  background-color: #eef3f9;
  margin-left: 0px;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
  padding: 10rem 25px;
  width: 20rem;
  text-align: center;
}
nav{
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
ul {
  list-style: none;
}
li {
  margin-left: 5rem;
  padding-left: 5px;
}
li a{
  color: #7e8892;
  text-decoration: none;
}
#brand-logo {
  align-self: center;
}
#nav-schedule {
  margin-left: 30rem;
  align-self: center;
}
.btn{
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
}
.btn-trans {
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}
.btn-red {
  background-color: #bb4673;
  border-style: none;
  border: 0px;
}
#intro {
  padding-left: 10rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
#intro-content {
  width: 23rem;
  color: #39526a;
}
#intro img {
  margin-left: 30rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 1.2rem;
}
input {
  margin-right: -2.5rem;
  border-style: none;
  border-radius: 25px;
  height: 2rem;
  align-self: center;
  box-shadow: 10px 10px 15px 5px #ccd6df;
}
#about-us {
  background-color: #1c262f;
  color: #f5fafc;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#about {
  width: 25rem;
}
#brands {
  margin-left: 17rem;
  padding-top: 1.5rem;
  margin-top: 5rem;
}
#description {
  padding-left: 10rem;
  padding-top: 10rem;
  color: #39526a;
}
.image-shadow {
  box-shadow: 10px 10px 15px 5px #ccd6df;
}
.image-center {
  margin-left: 7.3rem;
  height: 100px;
  width: 100px;
}
#desc {
  padding-top: 15px;
  margin-left: 20rem;
  color: #39526a;
  width: 25rem;
}
#ui {
  padding-top: 12rem;
  color: #39526a;
  width: 25rem;
}
#ui-img {
  padding-top: 10rem;
  margin-left: 25rem;
}
p {
  line-height: 1.6;
}
#schedule {
  padding-left: 10rem;
  color: #39526a;
  padding-bottom: 3rem;
}
.input-bottom {
  margin-left: 35rem;
  align-self: flex-end;
  margin-top: 1rem;
}
footer {
  background-color: #1c262f;
  color:#a5aeb5;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  position: relative;
}
#social-media {
  padding-top: 10px;
  margin-left: 23rem;
}
#social-media img {
  padding: 0.5rem 1rem;
}
@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
  .nav-list{
    flex-direction: row;
    padding-left: 0;
    align-self: center
  }
  nav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
  }
  li {
    margin-left: 0;
    padding-left: 10px;
  }
  #nav-schedule {
    margin-left: 0;
  }
  .btn{
    border-radius: 10px;
    padding: 3px 4px;
  }
  #intro {
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  #intro-content {
    width: 100%;
  }
  #intro img {
    margin-left: 0;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  input {
    padding-left: -10px;
    margin-right: 0;
    border-style: none;
    border-radius: 25px;
    height: 2rem;
    box-shadow: 10px 10px 15px 5px #ccd6df;
  }
  #about-us {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #about {
    width: 100vw;
  }
  #brands {
    margin-left: 2rem;
    padding-top: 1.5rem;
    margin-top: 3rem;
  }
  #description {
    padding-left: 2rem;
    padding-top: 3rem;
  }
  .image-center {
    margin-left: 7rem;
    height: 75px;
    width: 75px;
  }
  #desc {
    padding-top: 5px;
    margin-left: 0;
    width: 100vw;
  }
  #ui {
    padding-top: 2rem;
    width: 100vw;
  }
  #ui-img {
    padding-top: 1rem;
    margin-left: 0;
  }
  .col {
    padding-top: 2rem;
    margin-top: 5px;
    padding-bottom: 2rem;
    padding-left: 0;
  }
  p {
    line-height: 1.6;
  }
  #schedule {
    padding-left: 2rem;
    padding-bottom: 3rem;
  }
  #schedule div{
    flex-direction: row;
  }
  .input-bottom {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  #social-media {
    padding-top: 10px;
    margin-left: 0rem;
  }
  #social-media img {
    padding: 5px 10px;
  }
}
